.slider1{
    width: 100%;
    height: 500px;
}

.description{
    margin: 50px;
}

.brief{
    font-weight: 800;
    opacity: 0.8;
    font-family: monospace;
    margin-bottom: 30px;
}

.skills {
    margin-top: 20px;
    margin-bottom: 40px;
}